/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body {
  font-family: 'Roboto Condensed', sans-serif;
}
.noise {
  @apply z-50 left-0 top-0 fixed w-screen h-screen;
  pointer-events: none;
  opacity: .05;
}
.language {
  @apply px-3 rounded-full border border-gray-800 mx-1;
}